
<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
	<div class="row justify-content-md-center">
		<div class="col-md-10">
	        <div class="card">
	            <div class="card-header">
	  
	            </div>
	            <div class="card-body">
	                <div class="px-10">
						<form class="form form-horizontal" novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
							<div class="form-body">
	                	
								<div class="row">
			                        <div class="form-group col-12 mb-2">
			                        	<label for="issueinput5">Classe</label>
			                            <select id="classe" name="id_classe" [(ngModel)]="id_classe" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
			                                <option *ngFor="let classe of classes" [value]="classe.id">
												{{classe.nom_classe}}
											</option>
			                            
			                            </select>
			                        </div>
								</div>
								
								<div class="row">
			                        <div class="form-group col-12 mb-2">
			                        	<label for="issueinput5">Matière</label>
			                            <select id="matiere" name="id_matiere" [(ngModel)]="id_matiere" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
			                                <option *ngFor="let matiere of matieres" [value]="matiere.id">
												{{matiere.nom}}
											</option>
			                            
			                            </select>
			                        </div>
								</div>
								
								<div class="row">
										<div class="form-group col-12 mb-2">
											<label for="issueinput5">Salle</label>
											<select id="salle" name="id_salle" [(ngModel)]="id_salle" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
												<option *ngFor="let salle of salles" [value]="salle.id">
													{{salle.nom_salle}}
												</option>
											
											</select>
										</div>
									</div>
									<div class="row">
											<div class="form-group col-12 mb-2">
												<label for="issueinput5">Année Universitaire</label>
												<select id="annee" name="id_annee" [(ngModel)]="id_annee" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
													<option *ngFor="let annee of annees" [value]="annee.id">
														{{annee.date_debut}}-{{annee.date_fin}} 
													</option>
												
												</select>
											</div>
										</div>
	                		
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="issueinput3"> Date Début </label>
                                  <input type="date"  class="form-control"  data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Start Date" name="date_debut" id="date_debut" ngModel required>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="issueinput4">Date Fin </label>
                                  <input type="date"  class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="End Date"  name="date_fin" id="date_fin" ngModel required>
                                </div>
                              </div>
                            </div>
              
	                	

	        
							</div>

							<div class="form-actions center">
	                            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="activeModal.close('Close click')">
	                            	<i class="ft-x"></i> Cancel
	                            </button>
	                            <button type="button"   (click)="onSubmit()" class="btn btn-raised btn-primary">
	                                <i class="fa fa-check-square-o"></i> Save
	                            </button>
	                        </div>
						</form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!-- // Basic form layout section end -->
