

	<div class="row match-height">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form-center">Actualité</h4>
					
				</div>
				<div class="card-body">
					<div class="px-3">

						<form class="form">
							<div class="row justify-content-md-center">
								<div class="col-md-6">
									<div class="form-body">
							

										<div class="form-group">
											<label for="eventInput2">Titre :</label>
											<input type="text" id="eventInput2" class="form-control"  name="title">
										</div>
                                        <div class="form-group">
                                            <label for="timesheetinput7">Description :</label>
                                            <div class="position-relative has-icon-left">
                                                <textarea id="timesheetinput7" rows="5" class="form-control" name="notes" ></textarea>
                                                <div class="form-control-position">
                                                    <i class="ft-file"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Image :</label>
                                            <input type="file" class="form-control-file" id="projectinput8">
                                        </div>

                                     
								<div class="form-group">
									<label for="timesheetinput3">Date :</label>
									<div class="position-relative has-icon-left">
										<input type="date" id="timesheetinput3" class="form-control" name="date">
										<div class="form-control-position">
											<i class="ft-message-square"></i>
										</div>
									</div>
								</div>
							

									</div>
								</div>
							</div>

							<div class="form-actions center">
								<button type="button" class="btn btn-raised btn-warning mr-1">
									<i class="ft-x"></i> Cancel
								</button>
								<button type="button" class="btn btn-raised btn-primary">
									<i class="fa fa-check-square-o"></i> Save
								</button>
							</div>
						</form>	

					</div>
				</div>
			</div>
		</div>
	</div>
